# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Directories
Debug/
.vs/
_intermediate/
bin/
build/
build_android/native-activity/app/.cxx/Debug/
build_android/native-activity/app/.cxx/RelWithDebInfo/
build_android/native-activity/app/build/
build_android/native-activity/app/src/main/assets/asset/

# Mac
.DS_Store

# Windows
Thumbs.db
*.VC.db
*.vcxproj.user
